<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>
      Eindwerk Yanni
    </title>
    <meta name="description" content="Simple landind page" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />

    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css"/>
    <link rel="stylesheet" href="../public/Stylesheets/general.css"/>

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet" />

    <style>
   @font-face { 
 font-family: Proxima Nova;
 src: url(Stylesheets/Proxima-Nova-Font.otf) format('opentype'); 
} 
      body {
        font-family: "Proxima Nova, Regular !important"
      }

      .gradient {
        background: #082434;
      }

      .grid-title{
        font-size: 18px;
        opacity: 0.9;
      }


      .grid-sub-title{
        font-size: 17.5px;
        color: rgb(170, 170, 170);
        font-weight: 400;

      }
      .grid-img{
        min-width: 40px;
        max-width: 40px;
        object-fit: contain;
      }

      .btn-bg{
        background-color: #45c4b0;
        box-shadow: 0px 0px 39px 0px rgba(69,196,176,0.44);
        -webkit-box-shadow: 0px 0px 39px 0px rgba(69,196,176,0.44);
        -moz-box-shadow: 0px 0px 39px 0px rgba(69,196,176,0.44);
      }

      .warn-text{
        color: rgb(170, 170, 170);
      }

      @media (max-width: 435px){
        .btn-flex{
           gap: 10px;
        }
      }

      @media (max-width: 417px){
        .btn-flex{
           flex-direction: column-reverse;
        }
      }
    </style>

  </head>
  <body class="leading-normal tracking-normal text-white " style="font-family: 'proxima-nova', sans-serif;">
    <!--Nav-->
    <nav id="header" class="fixed w-full z-30 top-0">
      <div class="w-full container mx-auto flex flex-wrap items-center justify-between mt-0 py-2">
        <div class="pl-4 flex items-center">
          <a class="no-underline hover:no-underline font-bold text-2xl lg:text-4xl toggleColour" href="/">
            PRIVATEER
          </a>
        </div>
        <div class="block lg:hidden pr-4">
          <button id="nav-toggle" class="flex items-center p-1 text-pink-800 hover:text-gray-900 focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out">
            <svg class="h-6 w-6" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" style="fill: #45C4B0;">
              <title>Menu</title>
              <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
            </svg>
          </button>
        </div>
        <div class="w-full flex-grow lg:flex lg:items-center lg:w-auto hidden mt-2 lg:mt-0 bg-white text-black lg:bg-transparent p-4 lg:p-0 z-20" id="nav-content">
          <ul class="list-reset lg:flex justify-end flex-1 items-center">
            <li class="mr-3">
              <div class="flex">
                <a class="inline-block no-underline hover:text-gray-800 hover:text-underline py-2 px-4 w-1/2" href="/cookies">Cookies</a>

                <div  class="w-1/2 flex items-center justify-end">
                  <img src="../public/Images/SVG/cookie-black.svg" class="w-6"></img>
                </div>
              </div>
            </li>
            <li class="mr-3">
              <div class="flex">
                <a class="inline-block no-underline hover:text-gray-800 hover:text-underline py-2 px-4 w-1/2" href="/browser">Browser</a>

                <div  class="w-1/2 flex items-center justify-end">
                  <img src="../public/Images/SVG/new/browser icon-black.svg" class="w-6"></img>
                </div>
            </div>
            </li>
            <li class="mr-3">
              <div class="flex">
                <a class="inline-block no-underline hover:text-gray-800 hover:text-underline py-2 px-4 w-1/2"href="/ipaddress">Location</a>

                <div  class="w-1/2 flex items-center justify-end">
                  <img src="../public/Images/SVG/locatie-black.svg" class="w-6"></img>
                </div>
              </div>
            </li>
            <li class="mr-3">
              <div class="flex">
                <a class="inline-block no-underline hover:text-gray-800 hover:text-underline py-2 px-4 w-1/2" href="/socialmedia">Social Media</a>

                <div  class="w-1/2 flex items-center justify-end">
                  <img src="../public/Images/SVG/new/Icon awesome-facebook-black.svg" class="w-6"></img>
                </div>
              </div>
            </li>
            <li class="mr-3">
              <div class="flex">
                <a class="inline-block no-underline hover:text-gray-800 hover:text-underline py-2 px-4  w-1/2" href="/webcams">Webcams</a>

                <div class="w-1/2 flex items-center justify-end">
                  <img src="../public/Images/SVG/new/webcam-black.svg" class="w-6"></img>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!--Hero-->
    <div class="pt-24 gradient">
      <div class="container px-3 mx-auto flex flex-wrap flex-col md:flex-row items-center" >
        <!--Left Col-->
        <div class="flex flex-col w-full md:w-2/5 justify-center items-start text-center md:text-left" style="z-index: 20;">
          <h1 class="my-4 text-xl lg:text-4xl font-bold leading-tight">
            START PROTECTING YOUR INTERNET IDENTITY
          </h1>
          <p class="leading-normal text-sm opacity-80 lg:text-2xl mb-8" style="line-height: 160%;">
              Privateers was specially made for people that want to start protecting their internet identity from third
              parties. You'll find information about your IP Adress, Cookies, Browsers, Social media, Webcams and how you can protect
              it.
          </p>

        <div class="w-full">
          <a id="letsgo" href="#btns"
            class="mainColor shadowBtn z-10 mx-auto lg:mx-0 hover:underline text-white font-bold rounded-lg w-52 my-2 py-4 px-8 flex items-center shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out">
            <span class="pl-8 opacity-80 float-left">Let's go</span>
            <img class="float-left pl-2" src="../public/Images/SVG/new/Group 92.svg"></img>
          </a>
        </div>

        <div class="w-full flex justify-center my-3">
          <p class="text-sm opacity-80">or</p>
        </div>

        <div class="w-full">
          <a href="taketest" class="orangeColor shadowBtnOrange z-10 mx-auto lg:mx-0 hover:underline text-white font-bold rounded-lg w-52 my-2 py-4 px-8 flex items-center shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out">
            <span class="pl-4 opacity-80 float-left">Take the test</span>
            <img class="float-left pl-2" src="../public/Images/SVG/new/Group 92.svg"></img>
          </a>
        </div>

        </div>
        <!--Right Col-->
        <div class="w-full md:w-3/5 py-3 text-center" style="z-index: 20;">
          <img class="w-full md:w-4/5 z-10 centerEl" src="../public/Images/svg/landingpage.svg"/>
        </div>
      </div>
    </div>

    <div class="relative lg:-mt-10">
      <svg width="100%" height="100%" viewBox="0 0 496 57" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M496 23.3461C496 23.3461 449.5 51.5 332.536 37.6529C139.228 14.7678 0 52.0052 0 55.9999C0 59.9947 0 -0.000579834 0 -0.000579834H496V23.3461Z" fill="#082434"/>
        </svg>
    </div>

    <section id='btns' class="bg-white border-b py-8">
      <div class="container max-w-5xl mx-auto mb-8">
        <h1 class="w-full mb-10 text-2xl lg:text-4xl font-bold leading-tight text-center text-gray-800">
          BROWSERCHECK
        </h1>

        <div class="px-12">
          <div class="text-black flex flex-col gap-6">
            
            <div class="flex gap-4">
              <img src="../public/Images/b1.png" alt="icon" class="grid-img">
              <div class="">
                <div class="grid-title font-bold">IP adress</div>
                <div class="grid-sub-title"> <%= ip %>  </div>
              </div>
            </div>

            <div class="flex gap-4">
              <img src="../public/Images/b1.png" alt="icon" class="grid-img">
              <div class="">
                <div class="grid-title font-bold">Location</div>
                <div class="grid-sub-title"> <%= countryData %>  </div>
              </div>
            </div>
            

            <div class="flex gap-4">
              <img src="../public/Images/Icon awesome-facebook.png" alt="icon" class="grid-img">
              <div class="">
                <% if (!user) { %>

                  <div class="grid-title font-bold"> <a href="/facebook/login" class="cursor-pointer">Facebook</a>  </div>
                <% } else { %>
                  <div class="grid-title font-bold"> Hello, <%= user.displayName %> </div>
                  <div class="grid-sub-title"> <a href="/facebook/logout" class="cursor-pointer">Log out</a></div>
                <% } %> 
				</div>
            </div>


            <div class="flex gap-4">
              <img src="../public/Images/Icon awesome-twitter.png" alt="icon" class="grid-img">
              <div class="">
                <% if (!user) { %>

                  <div class="grid-title font-bold"> <a href="/google/login" class="cursor-pointer">Google</a>  </div>
                <% } else { %>
                  <div class="grid-title font-bold"> Hello, <%= user.displayName %> </div>
                  <div class="grid-sub-title"> <a href="/google/logout" class="cursor-pointer">Log out</a></div>
                <% } %>
              </div>
            </div>


            <div class="flex gap-4">
              <img src="../public/Images/Icon awesome-instagram.png" alt="icon" class="grid-img">
              <div class="">
                <% if (!user) { %>

                  <div class="grid-title font-bold"> <a href="/linkedin/login" class="cursor-pointer">LinkedIn</a>  </div>
                <% } else { %>
                  <div class="grid-title font-bold"> Hello, <%= user.displayName %> </div>
                  <div class="grid-sub-title"> <a href="/linkedin/logout" class="cursor-pointer">Log out</a></div>
                <% } %>
              </div>
            </div>


            <div class="flex gap-4">
              <img src="../public/Images/b.png" alt="icon" class="grid-img">
              <div class="">
                <div class="grid-title font-bold">Cookies</div>
                <div class="grid-sub-title">Times that you refreshed the page: <%= refresh %> </div>
              </div>
            </div>
            
          </div>

          <div class="btn-flex flex items-center text-black justify-center gap-7 mt-12">
            <button onclick="window.location.reload()" class="py-3 px-4 underline opacity-80 ref-button">Refresh page</button>
            <button  class="py-3.5 px-5 font-bold btn-bg text-white rounded-md">Check my browser</button>
          </div>

          <div class="text-sm warn-text mt-14">*cookies can track your visits and how many times you refresh a page</div>

        </div>
      </div>

      <div class="container max-w-5xl mx-auto mb-8 mt-32">
        <h1 class="w-full mb-10 text-2xl lg:text-4xl font-bold leading-tight text-center text-gray-800">
          WHAT DO YOU WANT TO PROTECT?
        </h1>

        <div class="px-12">
          <div class="flex flex-wrap">
            <div class="w-1/2 lg:p-6">
              <div class="w-full">
                <a href="cookies">
                  <image src="../public/Images/SVG/cookie oranje.svg" class="cursor-pointer orangeIcon p-5 lg:p-4 rounded-lg w-20 h-20 lg:w-24 lg:h-full hover:underline text-white shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out"></image>
                </a>
              </div>
              <div class="align-middle text-center">
                <p class="text-black text-sm">
                  Cookies
                </p>
              </div>
            </div>
            <div class="w-1/2 lg:p-6">
              <div class="w-full">
                <a href="ipaddress">
                  <image src="../public/Images/SVG/locatie wit.svg" class="cursor-pointer orangeIcon p-5 lg:p-4 rounded-lg w-20 h-20 lg:w-24 lg:h-24 hover:underline text-white shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out"></image>
                </a>
              </div>
              <div class="align-middle text-center">
                <p class="text-black text-sm">
                  IP Adress
                </p>
              </div>
            </div>
          <!-- </div>
          <div class="flex flex-wrap"> -->
            <div class="w-1/2 lg:p-6 mt-6">
              <div class="w-full">
                <a href="browser">
                  <image src="../public/Images/SVG/browser.svg" class="cursor-pointer orangeIcon p-5 lg:p-4 rounded-lg w-20 h-20 lg:w-24 lg:h-full hover:underline text-white shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out"></image>
                </a>
                </div>
              <div class="align-middle text-center">
                <p class="text-black text-sm">
                  Browser
                </p>
              </div>
            </div>
            <div class="w-1/2 lg:p-6 mt-6">
              <div class="w-full">
                <a href="socialmedia">
                  <image src="../public/Images/SVG/social wit.svg" class="cursor-pointer orangeIcon p-5 lg:p-2 lg:py-7 rounded-lg w-20 h-20 lg:w-24 lg:h-full hover:underline text-white shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out"></image>
                </a>
              </div>
              <div class="align-middle text-center">
                <div class="align-middle text-center">
                  <p class="text-black text-sm">
                    Social Media
                  </p>
                </div>
                </p>
              </div>
            </div>
            <div class="w-1/2 lg:p-6 mt-6">
              <div class="w-full">
                <a href="webcams">
                  <image src="../public/Images/SVG/new/Layer 2.svg" class="cursor-pointer orangeIcon p-5 lg:p-2 lg:py-7 rounded-lg w-20 h-20 lg:w-24 lg:h-full hover:underline text-white shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out"></image>
                </a>
              </div>
              <div class="align-middle text-center">
                <div class="align-middle text-center">
                  <p class="text-black text-sm">
                    Webcams
                  </p>
                </div>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="../public/scripts/index.js"></script>
    <script src="../public/scripts/script.js"></script>
  </body>
</html>
